.dash{
    align-items: center;
    text-align: center;
}

.dash h1{
    margin-top: 5%;
    color: burlywood;
    font-weight: bold;
}
.dash p{
    color: burlywood;
    font-size: 1.5rem;
}
.dash .so-btn{
    margin-top: 2%;
    color: black;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
}

.dash .so-btn:hover{
    background-color: red;
    outline: none;
    color: white;
    border-color: black;
    border-radius: 5px 10px;
    width: 100px;
}

/*Media queries for margin top of heading*/
@media screen and (max-width:1100px){
    .dash h1{
    margin-top: 6%;
    }
}
@media screen and (max-width:950px){
    .dash h1{
    margin-top: 8%;
    }
}
@media screen and (max-width:800px){
    .dash h1{
    margin-top: 11%;
    }
    .dash button{
        margin-top: 3%;
    }
}

@media screen and (max-width:600px){
    .dash h1{
    margin-top: 13%;
    }
    .dash button{
        margin-top: 3.5%;
    }
}

@media screen and (max-width:500px){
    .dash h1{
    margin-top: 16%;
    }
    .dash button{
        margin-top: 4%;
    }
}

@media screen and (max-width:400px){
    .dash h1{
    margin-top: 20%;
    }
    .dash button{
        margin-top: 4.5%;
    }
}

@media screen and (max-width:350px){
    .dash h1{
    margin-top: 23%;
    }
    .dash button{
        margin-top: 5%;
    }
}