.not-found{
    align-items: center;
    text-align: center;
}
.not-found h1{
    margin-top: 13%;
    color: white;
    font-size: 5rem;
}
.not-found h2{
    color: white;
}
.not-found h3{
    color: white;
}
.not-found a{
    color: red;
    font-size: 1.5rem;
}
.not-found a:hover{
    color: orange;
}