
/* image grid styles */
.img-grid{
  margin-left: 2% ;
  margin-right: 2% ;
  margin-top: 5% ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  cursor: pointer;
  position: relative;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cross{
  background-color: black;
  float: right;
  color: red;
  font-weight: bold;
  width: auto;
  height: auto;
}

.cross:hover{
  background-color: red;
  color: white;
  font-weight: bolder;
}
/* Media queries */
@media screen and (max-width:1080px){
  .img-grid{
  grid-gap: 25px;
  }
}

@media screen and (max-width:768px){
  .img-grid{
  grid-gap: 15px;
  }
}

@media screen and(max-width:480px){
  .img-grid{
  grid-gap: 10px;
  }
}

@media screen and(max-width:320px){
  .img-grid{
  grid-gap: 5px;
  }
}