.login-forms{
    align-items: center;
    margin-top: 10%;
}
.login-forms hr{
    height: 5px;
    background-color: whitesmoke;
    border: none;
    align-items: center;
}
.login-forms Form{
    border: crimson 2px solid;
    align-items: center;
    padding: 3%;
    width: 45%;
}

.login-forms button{
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}
.login-forms button:hover{
    background-color: #5cb85c;
    color: black;
    border: 2px solid black;
}
.login-forms Label{
    color: blanchedalmond;
    font-size: 1.2rem;
    font-weight: bold;
}
.login-forms a{
    color: turquoise;
    text-decoration: underline none;
}
.login-forms a:hover{
    color: red;
    text-decoration: underline none;
}

/*media queries*/
@media screen and (max-width:1200px){
    .login-forms Form{
        margin-top: 12%;
        width: 50% ; 
    }
}


@media screen and (max-width:1024px){
    .login-forms Form{
        margin-top: 14%;
        width: 60% ; 
    }
}

@media screen and (max-width:768px){
    .login-forms Form{
        margin-top: 18%;
        width: 80% ;
    }

}

@media screen and (max-width:480px){
    .login-forms Form{
        margin-top: 24%;
        width: 85%;
    }

}

@media screen and (max-width:320px){
    .login-forms Form{
        margin-top: 30%;
        width: 90% ;
    }

}