Form{
    border: crimson 2px solid;
    font-weight: bold;
    align-items: center;
    margin: auto;
    margin-top: 20%;
    padding: 3%;
    width: 40%;
}

#x2:hover{
    background-color: green;
    font-weight: bold;
}

@media only screen and (max-width:768px){
    Form{
        margin-top: 20%;
        padding: 6%;
        width: 70%; 
    }

}

@media only screen and (max-width:360px){
    Form{
        margin-top: 30%;
        padding: 6%;
        width: 80%; 
    }

}