.signup-forms{
    align-items: center;
    margin-top: 10%;
}
h2{
    color: chocolate;
}
.signup-forms hr{
    height: 5px;
    background-color: whitesmoke;
    border: none;
    align-items: center;
}
.signup-forms Form{
    border: crimson 2px solid;
    align-items: center;
    padding: 3%;
    width: 40%;
}
.signup-forms button{
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}
.signup-forms button:hover{
    background-color: #5cb85c;
    color: black;
    border: 2px solid black;
}
.signup-forms Label{
    color: blanchedalmond;
    font-size: 1.2rem;
    font-weight: bold;
}

.signup-forms a{
    color: turquoise;
    text-decoration: underline none;
}
.signup-forms a:hover{
    color: red;
    text-decoration: underline none;
}

@media screen and (max-width:360px){
    .signup-forms Form{
        padding: 6%;
        width: 80%;
    }

}

@media screen and (max-width:768px){
    .signup-forms Form{
        padding: 6%;
        width: 70%; 
    }

}

