/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
.upload-form label input {
  height: 0;
  width: 0;
  opacity: 0;
}
.upload-form label{
  display: block;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 2% auto;
  line-height: 25px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.upload-form label:hover{
  background: white;
  color: black;
}
.upload-form h4{
  font-size: 1.35rem;
  margin-top: -10px;
  color: #84c9fb;
}
/*For output and errors*/
.output{
  height: 60px;
  font-size: 1rem;
}
.error{
  color: var(--error);
  font-weight: bolder;
}