/* navbar */
.title{
  color: #ff4d00;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.title:hover{
  color: #ff4d00;
}

.nav-bar{
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  height: 6%;
}
.navbar-all .btn{
  background-color: transparent;
  color: whitesmoke;
  border-color: white;
  width: auto;
  font-weight: bold;
  border-radius: 10px;
  width: 80px;
}
.navbar-all .btn:hover{
  background-color: whitesmoke;
  color: black;
  border: whitesmoke;
  width: auto;
  font-weight: bolder;
  border-radius: 15px;
  width: 80px;
}
/* ul{
  float: right;
}
.nav-bar .main{
  color:#ff4d00;
  font-size: 2rem;
  letter-spacing: 1.6px;
  font-weight: bold;
  text-decoration: underline bisque 3.5px;
  margin-left: 10px;
  margin-top:0px;
}

.nav-bar button{
  color:white;
  float: right;
  margin-left:10px !important;
  margin-right:10px !important;
  margin-top: 1%;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background-color: black;
  border-color: white;
  border-radius: 10px;
  width: 80px;
  height: 35px;
}
.nav-bar button:hover{
  background-color: white;;
  color:black;
}
.nav-bar button:active{
  background-color: white;;
  color:black;
} */

#a{
  color: black;
}
Link{
  font-size: 1.5rem;
}