/* navbar */
.title{
  color: #ff4d00;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.title:hover{
  color: #ff4d00;
}

.nav-bar{
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  height: 6%;
}
.navbar-all .btn{
  background-color: transparent;
  color: whitesmoke;
  border-color: white;
  width: auto;
  font-weight: bold;
  border-radius: 10px;
  width: 80px;
}
.navbar-all .btn:hover{
  background-color: whitesmoke;
  color: black;
  border: whitesmoke;
  width: auto;
  font-weight: bolder;
  border-radius: 15px;
  width: 80px;
}
